<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/js/home/register.js" defer></script>
    <title>Document</title>
</head>
<body>
    <div>
        <form class="login-form">
            <input id="id" type="text" placeholder="아이디"><br>
            <input id="name" type="text" placeholder="이름"><br>
            <input id="password" type="password" placeholder="비밀번호"><br>
            <input id="confirm-password" type="password" placeholder="비밀번호 확인"><br>
            <p id="button">회원가입</p>
            <p class="">회원이신가요?<a href="/login">로그인</a></p>
        </form>
    </div>
</body>
</html>